@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");

.container {
  max-width: 1280px;
  margin: 0 auto;
}
body {
  background-color: #181820;
}

h1 {
  font-family: "Titan One", cursive;
  color: white;
  letter-spacing: 1.5px;
  font-size: 3rem;
}
form {
  width: 100%;
}
input {
  width: 60%;
  height: 2.8rem;
  background-color: #21212b;
  color: #757575;
  border-radius: 0.4rem;
  border: none;
  font-size: 1rem;
  padding-left: 2rem;
}
input:focus {
  outline: none;
}
.flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.add-button {
  background-color: #9e3e2f;
  color: rgb(202, 202, 202);
  padding: 0.9rem;
  font-size: 0.9rem;
  border: none;
  border-radius: 0.4rem;
  margin-left: 0.4rem;
}
.icon {
  color: rgb(202, 202, 202);
}

.add-button:hover {
  background-color: #b14534;
  color: rgb(216, 215, 215);
}

.item {
  width: 66%;
  height: 2.8rem;
  background-color: #21212b;
  color: #757575;
  margin-top: 2rem;
  border-left: solid #9e3e2f 6px;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
}
.trash {
  text-decoration: none;
  background-color: #21212b;
  border: none;
}
.trash i {
  font-size: 1rem;
  color: grey;
}
.clear-button {
  margin-top: 2rem;
  text-align: right;
  background-color: #9e3e2f;
  color: rgb(202, 202, 202);
  padding: 0.7rem;
  font-size: 0.9rem;
  border: none;
  border-radius: 0.4rem;
  float: right;
  margin-right: 22.8rem;
}
.clear-button i {
  margin-left: 0.4rem;
}
